<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
</head>
<body>

    <form  action="" method="get"> {# action="/book/search/" #}
        <input size="30" type="text" name="q">
        <input type="submit" value="Search">
    </form>
    {% if errors %}
        <ul>
            {% for error in errors %}
                <p style="color: red">{{ error }}</p>
            {% endfor %}
        </ul>
{#        <p size="3" style="color: red">{{ error }}</p>#}
    {% endif %}

{#{% if books %}#}
{#    <p> You searched for: <strong>{{ query }}</strong></p>#}
{#    <p>Found {{ books|length }} book{{ books|pluralize }}.</p>#}
{#    <ul>#}
{#        {% for book in books %}#}
{#            <li>{{ book.title }}</li>#}
{#        {% endfor %}#}
{#    </ul>#}
{#{% else %}#}
{#    <p>No books matched your search criteria.</p>#}
{#{% endif %}#}

</body>
</html>